@import "compass";

$mobile_break: 768px;
@mixin micro-clearfix(){
  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  &:after {
      clear: both;
  }
}

.ribbon-carousel {

  @include opacity(0);

  &.loading{
    @include opacity(1);
  }
  &.ready{
    @include opacity(1);
  }
  
  overflow:visible;

  .container{
    position: relative;
    margin:auto;  
    height: 100%;
  }

  .slides {
    width:100%;
    height:100%;
    overflow:hidden;
  }

  .carousel-center-container{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;

    .carousel-center{
      li{
        overflow: hidden;
      }
    }
    
  }
  .carousel-left-container{
    width:100%;

    

    .carousel-left{

      
      @include clearfix();
      height:100%;
      right: 100%;
      padding-left:0px;
      margin:0;
      list-style-type:none;

      li{
        overflow: hidden;
        height:100%;
        float:left;
        img{
          width:100%;
          height:100%;
        }
      }
    }
  }
  .carousel-right-container{
    width:100%;
    height: 100%;

    position: relative;
    left: 100%;
    overflow:hidden;
    
    .carousel-right{

      @include clearfix();
      height:100%;
      right: 100%;
      padding-left:0px;
      margin:0;
      list-style-type:none;

      li{ 
        overflow: hidden;
        height:100%;
        float:left;
        img{
          width:100%;
          height:100%;


        }
      }
    }
  }
  .controls{
    position:relative;

    & > .container{
      @include micro-clearfix;
    }

    ul{
      padding:0;
      margin:0;
      @include micro-clearfix;

      li{
        float:left;
        list-style-type: none;
      }
    }

    .carousel-pagination{     
      position:absolute;
      z-index:100;
    }
    .carousel-arrows{
      padding:0;
      margin:0;
      position:absolute;
      z-index:100;
      width:100%;

      .next{
        position:absolute;
        right:0px;
      }
      .previous{
        position:absolute;
        left:0px;
      }
    }


  }
  
  .carousel-center, .carousel-left, .carousel-right{
    position:absolute;
    width:100%;
    margin:0px;

  }
  .carousel-center{
    position:absolute;
    width:400%;
    height:100%;

    @include clearfix();
    padding-left:0px;
    list-style-type:none;
    

    li{
      
      width:25%;
      height:100%;
      float:left;
      position:relative;

      img{
        width:100%;
        height:100%;
      }
      figcaption {
        @include box-sizing(border-box);
        position: absolute; 
            bottom: 0; 
            left: 0; 
            width: 100%;
            
            
      }
    }
  }
  
  
  .carousel-contents{

    display:none;
  }
  
  
}



@media screen and (max-width: $mobile_break){

  .ribbon-carousel{
        
    

    background-color:transparent;

    .carousel-left-container,
    .carousel-right-container{
        display:none;
      }
      .carousel-description{
        width: 100%;
      left: 0;
      background-color:transparent;
      padding:0px;

      li{
        width: 100%;

        padding-left: 2%;
        padding-right: 3%;
        position:absolute;
        bottom: 0px;      

        background-color:#222;
        background-color:rgba(0, 0, 0, .7);

        padding-top:0px;
        margin-bottom:0px;

        & > div{
          display:none;
        }


      }
      }
      .progress{
      z-index:15;
      height: 50px;
    }
    .prev-next{
      z-index: 10;
    }
    .carousel-description > li{
      z-index:20;
    }
     
      
    .carousel-contents li.active{
      width:100%;
    }
    
    .carousel-container{
      & > .container{
        
        
      }
      .progress{
        top:-45px;
        height:auto;
      }
    }
  }
  
    
}

/* Basic Theme, can/should be overritten */

.ribbon-carousel-theme-default{
  

  &.loading{
    position:relative;
    & > ul{
      display:none;
    }
    &:before{
      font-family: FontAwesome;
      content: "\f013";
      left: 50%;
      top:calc(50% - 30px);
      text-align: center;
      position: absolute;
      font-size: 72px;

      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;

      color:#ddd;
      
    }
    .controls{
      display:none;
    }

    height:750px;
    width:100%;
    background-color:#ddd;
    background-image: url(http://subtlepatterns.com/images/transp_bg.png);
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  font-family: Helvetica, Arial, Sans-Serif;
  background-color: #fff; 
  height: 375px;


  figure{
    margin:0;
    padding:0;
  }

  .carousel-left-container{   

    .carousel-left{
      @include opacity(0.4);
    }
    li{ 
      figcaption{
        display:none;
      }
      figure{
        //@include box-sizing(border-box);
        //border-right: 1px solid #000;
        overflow:hidden;
      }
    } 
  }
  .carousel-right-container{    

    .carousel-right{
      @include opacity(0.4);
    }
    li{ 
      
      figcaption{
        display:none;
      }
      figure{
        //@include box-sizing(border-box);
        //border-left: 1px solid #000;
        overflow:hidden;
      }
    }
  }

  .controls{
    position:relative;

    &.disabled{
      display:none;
    }
    a{  
      
      font-family: FontAwesome;
      text-decoration:none;
      margin: 0;
        padding: 0.3em;
        color:#fff;
        font-size: 12px;

      &:hover, &:focus{
        color:#ccc;
      }
      &.active{
        color:#fff;
      }

    }

    .carousel-pagination{
      position:absolute;
      z-index:100;
      top: 560px;
      padding:0;
      margin:0;

      background-color: rgba(0, 0, 0, 0.6);
      padding: 10px 15px;


      li{
        float:left;
        list-style-type: none;

        a{  
          margin-right: 5px;
          font-family: FontAwesome;
          font-size: 12px;

          color:#fff;
          
          span{
            display:none;
          }
          &:before{
            content: "\f1db";
          }

          &:hover{
            &:before{
              content: "\f111";
            }
          }
          &.active{
            &:before{
              content: "\f111";
            }
          }

        }
      }
    }
    .carousel-play-pause{
      position:absolute;
      z-index:100;
      /*top: 560px;*/
        right: 0;

      background-color: rgba(0, 0, 0, 0.6);
      padding: 10px 15px;

      li{
        float:right;
      }

      a{
        font-family: FontAwesome;
        font-size: 18px;
        span{
          display:none;
        }

        &.play{
          &:before{
            content: "\f04b";
          }
        }
        &.pause{
          &:before{
            content: "\f04c";
          }
        }
      }

    }

    .carousel-arrows{
      position:absolute;
      z-index:100;

      padding:0;
      margin:0;

      li{
        list-style-type: none;
      }

      a{
        font-family: FontAwesome;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        font-size: 24px;

        &:hover, &:focus{
          background-color: rgba(0, 0, 0, 0.5);         
        }
        &:active{
          background-color: rgba(0, 0, 0, 0.7);
        }

        span{
          display:none;
        }

        &.next{
            padding: 20px 15px 20px 20px;
          &:before{
            content: "\f054";
          }
        }
        &.previous{
          padding: 20px 20px 20px 15px;
          &:before{
            content: "\f053";
          }
        }
      }
    }
  }

  li{
    
    

    
    figcaption {
      
          
          background-color:#fff;
      background-color:rgba(255, 255, 255, .7);
      padding:0.5em;
      color:#000;

      @include opacity(0.8);

      a{
        color:#333;       
      }

      *{
        margin-bottom:1em;
        &:last-child{
          margin-bottom:0;
        }
        &:first-child{
          margin-top:0;
        }
      }

      &.right{
        right:0px;
        height: 100%;
          width: 35%;
        left: 65%;
        padding: 1em;
        overflow-y: scroll;
      }
    }
  }
}
@media (min-width: 768px){
    .ribbon-carousel-theme-default{
        /*height:480px;*/
        .container {
            max-width: 768px;
        }  
        /*.controls{
          .carousel-pagination{
            top: 490px;
          }
          .carousel-play-pause{
            top: 486px;
              }
          .carousel-arrows{
            top: 240px;
          }
        } */
    }
}
@media (min-width: 992px){
    .ribbon-carousel-theme-default{
        /*height:620px;*/
        .container {
            max-width: 992px;
        }   
        /*.controls{
          .carousel-pagination{
        top: 630px;
      }
      .carousel-play-pause{
        top: 626px;
          }
      .carousel-arrows{
        top: 310;
      }
        }  */
    }
}
@media (min-width: 1200px){
    .ribbon-carousel-theme-default{
        /*height:750px;*/
        .container {
            max-width: 1200px;
        }  
        /*.controls{
          .carousel-pagination{
        top: 760px;
      }
      .carousel-play-pause{
        top: 756px;
          }
      .carousel-arrows{
        top: 375px;
      }
        }  */
    }
}


@media (max-width: 768px){
    .ribbon-carousel-theme-default{
        /*.controls{
          .carousel-pagination{
        top: 385px;
      }
      .carousel-play-pause{
        top: 381px;
          }
      .carousel-arrows{
        top: 187px;
      }
        }*/
    }
}